@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@radix-ui/themes/styles.css";

.rt-Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rt-Button {
    cursor: pointer;
}

.rt-CardInner {
    padding: 0;;
}